
.ng-menu-item-body, .empty-menu-item, .ng-menu-item-menu > .nav-link {
    display: block;
    position: relative;
    border-left: 3px solid transparent;
    text-decoration: none;
    vertical-align: bottom;
    padding: 5px;
    font-weight: 200;
    width: 100%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .fa:not(.float-right) {
        padding-right: 5px;
        width: 20px;
    }
    .plus .fa, .minus .fa {
        width: 18px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        margin-top:2px;
    }
}

.ng-menu-item-body:active,
.ng-menu-item-body:focus {
    text-decoration: none;
}

.ng-menu-item-body:hover,
.ng-menu-item-body.active {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.2);
}

.ng-menu-item-body.active {
    border-left: 3px solid #efefef;
}

.child-menu {
    height: auto;
    overflow-x: hidden;
    > .ng-menu > .menu > .menu-item > .ng-menu-item-body,
    > .ng-menu > .menu > .menu-item > .ng-menu-item-menu > .nav-link,
    > .ng-menu > .menu > .menu-item > .empty-menu-item {
        font-size: 1em;
        opacity: 1;
        transition: font-size 100ms 100ms ease-in,
        opacity 100ms 0ms ease-in,
        padding 100ms 0ms ease-in;
    }
    &.open {
        font-size: 1em;
        > .ng-menu > .menu > .menu-item > .ng-menu-item-body,
        > .ng-menu > .menu > .menu-item > .ng-menu-item-menu > .nav-link,
        > .ng-menu > .menu > .menu-item > .empty-menu-item {
            padding: 5px 5px 5px 20px;
            opacity: 1;
            font-size: 1em;
        }
        .child-menu.open {
            > .ng-menu > .menu > .menu-item > .ng-menu-item-body,
            > .ng-menu > .menu > .menu-item > .ng-menu-item-menu > .nav-link,
            > .ng-menu > .menu > .menu-item > .empty-menu-item {
                padding-left: 40px;
            }
        }
    }
    &:not(.open) {
        .ng-menu > .menu > .menu-item > .ng-menu-item-body,
        .ng-menu > .menu > .menu-item > .ng-menu-item-menu > .nav-link,
        .ng-menu > .menu > .menu-item > .empty-menu-item {
            padding: 0;
            opacity: 0;
            font-size: 0;
        }
    }
}
