<ng-container *ngIf="!menuItem.hasChildren()">
    <ng-container *ngIf="menuItem.getText().length > 0">
        <div class="nav-link ng-menu-item-body" [routerLink]="menuItem.link"
             [class.active]="router.url === menuItem.link" [menuItem]="menuItem">
        </div>
    </ng-container>
    <ng-container *ngIf="menuItem.getText().length === 0">
        <div class="nav-link empty-menu-item"></div>
    </ng-container>
</ng-container>
<ng-container *ngIf="menuItem.hasChildren()">
    <div class="ng-menu-item-menu" [menuItem]="menuItem"></div>
</ng-container>
