<a class="nav-link" *ngIf="menuItem.hasChildren()" (click)="click()" [class.expanded]="menuItem.isOpen">
    <span class="float-right plus" *ngIf="!menuItem.isOpen"><span class="fa fa-plus"></span></span>
    <span class="float-right minus" *ngIf="menuItem.isOpen"><span class="fa fa-minus"></span></span>
    <span class="fa fa-{{menuItem.icon}}"></span>
    <span class="nav-link-label">{{ menuItem.getText() }}</span>
</a>
<div #children class="child-menu" *ngIf="menuItem.hasChildren()"
     [class.open]="menuItem.isOpen">
    <div class="ng-menu" [menuItems]="menuItem.children" [attr.data-label]="menuItem.getText()">

    </div>
</div>
